/* RUBIK  */

@font-face {
  font-family: "FiraSans", sans-serif;
  font-display: swap;
  src: url('~assets/fonts/FiraSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url('~assets/fonts/FiraSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FiraSans";
  font-display: swap;
  src: url('~assets/fonts/FiraSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
