

h1,
h2 {
  font-weight: normal;
  margin-bottom: 60px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  background: linear-gradient(-200deg, #ff2a30, #8c0a1d);
  padding: 20px;
  border-radius: 5px;
  font-weight: 700;
}